
.wrapper {
  text-align: center;
}

.align {
    padding: 10px;
}

div.transbox
{
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}


  div.transbox table {
    width:400px;
  }

  div.transbox td
  {
    text-align: center;
    margin:30px 40px;
    color:#000000;
    font-weight: bold;
  }

  div.transbox img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.navbar .navbar-left, .navbar .navbar-right {
    padding:10px;
}